<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.liuhui.xlceremony.app" >
    
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <application
            android:name=".App"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/BaseAppTheme_Light"
            >
        <activity
                android:name=".MainActivity"
                android:label="@string/app_name"
                >
        </activity>
        <activity
                android:name=".ui.activity.LoginSecondActivity"
                android:label="@string/title_activity_login"
                >
        </activity>
        <activity
                android:name=".ui.activity.SplashActivity"
                android:label="@string/title_activity_splash"
                >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.SendToFriendsActivity"/>
        <activity android:name=".ui.activity.RelationshipRankActivity"/>
        <activity android:name=".ui.activity.RegisterActivity"/>
        <activity android:name=".ui.activity.ForgetPassword"/>
        <activity android:name=".ui.activity.NetRelationshipActivity"/>
        <activity android:name=".ui.activity.ContactsManagerActivity"/>
        <activity android:name=".ui.activity.PhotoActivity"/>
        <activity android:name=".ui.activity.Remindctivity"/>
        <activity android:name=".ui.activity.SmsActivity"/>
        <activity android:name=".ui.activity.CardActivity"/>
        <activity
                android:name=".ui.activity.PersonalActivity"
                android:label="@string/title_activity_personal"
                >
        </activity>
        <activity
                android:name=".ui.activity.SettingActivity"
                android:label="@string/title_activity_setting"
                >
        </activity>
        <activity
                android:name=".ui.activity.SettingSafeActivity"
                android:label="@string/title_activity_setting_safe"
                >
        </activity>
        <activity
                android:name=".ui.activity.SettingSafePhoneActivity"
                android:label="@string/title_activity_setting_safe_phone"
                >
        </activity>
        <activity
                android:name=".ui.activity.PresentRecorderActivity"
                android:label="@string/title_activity_present_recorder"
                >
        </activity>
        <activity
                android:name=".ui.activity.SettingSafeEmailActivity"
                android:label="@string/title_activity_setting_safe_email"
                >
        </activity>
        <activity
                android:name=".ui.activity.SearchActivity"
                android:label="@string/title_activity_serach" >
        </activity>
    </application>
</manifest>
