<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.liuhui.xlceremony.app" >
    
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.CAMERA"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/BaseAppTheme_Light" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ui.activity.LoginSecondActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".ui.activity.SplashActivity"
            android:label="@string/title_activity_splash" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.RegisterActivity"
            android:label="@string/title_activity_register_fragment" >
        </activity>
        <activity
            android:name=".ui.activity.ForgetPassword"
            android:label="@string/title_activity_forget_password" >
        </activity>
        <activity
            android:name=".ui.activity.ContactsManagerActivity"
            android:label="@string/title_activity_contacts_manager" >
        </activity>
        <activity
            android:name=".ui.activity.PhotoActivity"
            android:label="@string/title_activity_photo" >
        </activity>
        <activity
            android:name=".ui.activity.Remindctivity"
            android:label="@string/title_activity_remindctivity" >
        </activity>
        <activity
            android:name=".ui.activity.SmsActivity"
            android:label="@string/title_activity_sms" >
        </activity>
        <activity
            android:name=".ui.activity.CardActivity"
            android:label="@string/title_activity_card" >
        </activity>
         <activity
            android:name=".ui.activity.PersonalActivity"
            android:label="@string/title_activity_personal" >
        </activity>
        <activity
            android:name=".ui.activity.SettingActivity"
            android:label="@string/title_activity_setting" >
        </activity>
        <activity
            android:name=".ui.activity.SettingSafeActivity"
            android:label="@string/title_activity_setting_safe" >
        </activity>
        <activity
            android:name=".ui.activity.SettingSafePhoneActivity"
            android:label="@string/title_activity_setting_safe_phone" >
        </activity>
        <activity
            android:name=".ui.activity.PresentRecorderActivity"
            android:label="@string/title_activity_present_recorder" >
        </activity>
        <activity
            android:name=".ui.activity.SettingSafeEmailActivity"
            android:label="@string/title_activity_setting_safe_email" >
        </activity>

    </application>

</manifest>
